:root {
    --fuentePrincipal:  'Gothic A1', sans-serif;
    --fuenteSecundaria: 'Oswald', sans-serif;

    --primario: #9de911;
    --secundario: #44b3c2;
    --claro: #ffffff;
}

body {
    font-family: var(--fuenteSecundaria);
}

.contenedor {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.2rem;  
    line-height: 2rem;
    font-family: var(--fuentePrincipal);
}
.hero {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
}
.hero .contenedor{
    display: grid;
    height: 100vh;
    align-content: center;
}
.hero .contenido {
    text-align: center;
    color: var(--claro);
}

.hero_photo{
    width: 25%;
}

.servicios{
    text-align: center;
    margin-top:: 3rem;
}

.servicios h2{
    padding-bottom: .5rem;
}

.servicios i {
    font-size: 3rem;
}

.servicios h2::after{
    height: .2rem;
    width: 7rem;
    background-color: var(--secundario);
    content: '';
    display: block;
    margin: 1rem auto 0 auto;
}

.footer{
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--claro);
    padding: 2rem 0;
    margin-top: 5rem;
    
}



.links{
    color: var(--claro);
    font-size: 3rem;
    margin-left: 1rem;
}

.link{
    color: var(--claro);
    font-size: 3rem;
}



@media (min-width:768px){
    .servicios{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 2rem;
    }

    .footer .contenedor{
        display: grid;
        grid-template: columns: repeat(2, 30%)auto;

    }
}