.col-md-4{
    text-align: justify;
    margin-left: 24rem;
   
}

h1{
    margin-left: 13rem;
    margin-top: 3rem;
    margin-bottom: -2.5rem;
    font-size: 2.5rem;
    opacity: 0.9;
    color: $colorLetras;
    
}

.js{
    background: url("../img/js.svg") no-repeat center top;
    background-size: 5rem;
    width: 13rem;
    .texto{
        margin-left: 13.7rem;
    }

    .percent{
        margin-left: 13rem;
        margin-top: -1rem;
    }
}

.html{
    background: url("../img/code.png") no-repeat center top;
    background-size: 7rem;
    width: 13rem;
    margin-left: 25rem;
    margin-top: -8.5rem;
    .texto{
        margin-top: 23%;
        margin-left: 13.7rem;
    }

    .percent{
        margin-left: 13rem;
        margin-top: -1rem;
    }
}

.css{
    background: url("../img/css3.png") no-repeat center top;
    background-size: 5rem;
    width: 13rem;
    margin-top: 3rem;
    .texto{
        margin-left: 13.7rem;
    }

    .percent{
        margin-left: 13rem;
        margin-top: -1rem;
    }
    
}

.angular{
    background: url("../img/angular.png") no-repeat center top;
    background-size: 5rem;
    width: 13rem;
    margin-left: 25rem;
    margin-top: -8.5rem;
    .texto{
        margin-left: 13.7rem;
    }

    .percent{
        margin-left: 13rem;
        margin-top: -1rem;
    }
}

.vue{
    background: url("../img/vuejs.png") no-repeat center top;
    background-size: 5rem;
    width: 13rem;
    margin-top: 3rem;
    .texto{
        margin-left: 13.7rem;
    }

    .percent{
        margin-left: 13rem;
        margin-top: -1rem;
    }
}

.react{
    background: url("../img/react.png") no-repeat center top;
    background-size: 5rem;
    width: 13rem;
    margin-left: 25rem;
    margin-top: -8.5rem;
    .texto{
        margin-left: 13.7rem;
    }

    .percent{
        margin-left: 13rem;
        margin-top: -1rem;
    }
}

.git{
    background: url("../img/git.png") no-repeat center top;
    background-size: 5rem;
    width: 13rem;
    margin-top: 3rem;
    .texto{
        margin-left: 13.7rem;
    }

    .percent{
        margin-left: 13rem;
        margin-top: -1rem;
    }
    
}

.correo{
    display: flex;
    margin-left: 14%;
    margin-top: -1rem;

    a{
        margin-right: 11%;
        margin-left: 7.5%;
    }
}

.phone{
    margin-left: -7rem;
}

h3{
    font-size: 2.5rem;
    margin-left: 23%;
}

.contacto{
    margin-left: 17rem;
}

.red{
    font-size: 2.5rem;
    margin-left: 30%;
}

.github{
    width: 10%;
    margin-left: 15rem;
}

.codepen{
    width: 10%;
    height: 10%;
    margin-left: 27rem;
    margin-top: -5rem;
}